aiogram==3.17.0
sqlalchemy==2.0.44
psycopg2-binary==2.9.9
redis==5.0.1
requests==2.32.3
aiohttp==3.10.10
aiohttp-cors==0.7.0
python-dotenv==1.0.1
yookassa==3.0.0
apscheduler==3.10.4
cryptography==43.0.1
timezonefinder==6.5.7
jinja2==3.1.4
aiohttp-jinja2==1.6
aiohttp-session==2.12.0
pytz==2025.2